.categories {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #fff;

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
  }

  .category-item {
    text-align: center;
    cursor: pointer;

    .icon-container {
      background-color: #F4F4F4;
      width: 100px;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      margin-bottom: 20px;

      // Adiciona cor rosa ao fundo da imagem quando ativa
      &.active {
        background-color: #fff;
      }
    }

    a {
      text-decoration: none;
      color: #000;

      .icon-container {
        margin-bottom: 10px;
      }

      .category-label {
        font-size: 14px;
        font-weight: 500;

        // Cor da etiqueta quando ativa
        &:hover {
          color: #f71963;
        }
      }

      // Altera a cor da imagem para rosa quando o item está ativo
      img.active-img {
        filter: invert(1) sepia(1) saturate(5) hue-rotate(-50deg);
        transition: filter 0.3s ease;
      }
    }

    &.active {
      .icon-container {
        background-color: #fff; // Muda a cor de fundo da imagem quando ativa
      }

      a {
        .category-label {
          color: #f71963; // Cor da etiqueta quando o item está ativo
          margin-top: 20px;
        }

        // Aplica o filtro rosa à imagem quando o item está ativo
        img.active-img {
          filter: invert(1) sepia(1) saturate(5) hue-rotate(-50deg);
        }
      }
    }
  }
}
